*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--preview-font-family, var(--vscode-font-family));
    font-size: var(--preview-font-size, var(--vscode-font-size));
    line-height: var(--preview-line-height, 1.8);
}

p {
    margin: 0;
    padding: 0;
    position: relative;
    white-space: pre-wrap;
}

p.preview-selected::before {
    content: "";
    position: absolute;
    display: block;
}

em {
    font-style: normal;
}

em span {
    position: relative;
}

em span::before {
    content: "ãƒ»";
    position: absolute;
}

.preview-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.preview-horizontal {
    writing-mode: horizontal-tb;
    align-items: center;
    width: 100%;
    min-height: 100%;

    p {
        width: 100%;
        max-width: var(--preview-max-width, 100%);
    }

    p.preview-selected::before {
        top: 0;
        left: -12px;
        height: 100%;
        border-left: 3px solid var(--vscode-editor-foreground);
    }

    em span::before {
        top: 0;
        left: 50%;
        transform: translate(-50%, -62.5%);
    }
}

.preview-vertical {
    writing-mode: vertical-rl;
    align-items: center;
    height: 100%;
    min-width: 100%;

    p {
        height: 100%;
        max-height: var(--preview-max-width, 100%);
    }

    p.preview-selected::before {
        top: -12px;
        left: 0;
        width: 100%;
        border-top: 3px solid var(--vscode-editor-foreground);
    }

    em span::before {
        top: 50%;
        left: 0;
        transform: translate(22.5%, -50%);
    }
}
