.vscode/**
.vscode-test/**
.vscode-test-web/**
node_modules/**
pnpm-lock.yaml
out/**
src/**
**/webpack.config*
**/tsconfig*
*.tsbuildinfo
**/.eslintrc*
.eslintignore
.eslintcache*
.prettierignore
.prettierrc*
.stylelintrc*
*.stylelintcache*
